<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.0.js"></script>
    <script>
        var pojo = {
            id:null,
            date:'2017-08-08',
            doubleValue: 999999.09,
            integer:100,
            range:1000,
            email:'email',
            size:'adv1212',
            regexp:'a,b,c,d'
        }
        $.post({
            url:'./validate',
            contentType:'application/json',
            data:JSON.stringify(pojo),
            success:function (result) {
                
            }
        })
    </script>
</head>
<body>

</body>
</html>